:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.notepad-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

.notepad-title {
  font-size: 32px;
  letter-spacing: 0.9px;
  color: var(--muted);
  text-transform: uppercase;
  margin: 0;
}

